.textLabel {
  display: block;
  font-size: 24px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.select {
  margin-top: 10px;
  position: relative;
  width: 400px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #18191c;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}
